.new-tweet {
    border: 1px solid lightgrey;
    padding: 0px 10px 35px;
    margin: 2em;
    border-radius: 5px;
    background-color: #eee;
    z-index: 5;
}

.new-tweet h2 {
    position: relative;
    border-bottom: 1px solid #244751;
    text-align: left;
}

.new-tweet textarea {
    width: 100%;
    padding: 5px;
    margin: 0px;

}

.new-tweet input {
    position: relative;
    float: left;
}

.new-tweet .counter {
    float: right;
    font-style: italic;
    font-size: 80%;
    padding-top: 5px;
    padding-right: 5px;
}